In [1]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv("drugs.txt", sep="\t")

In [17]:
#Rimuovo NaN
df = data.dropna()

In [23]:
df = df.reset_index(drop=True)

In [27]:
df.drop(columns="cns_drug", inplace=True)

In [28]:
df

        generic_name                                             smiles
0           Abacavir  NC1=NC2=C(N=CN2[C@@H]2C[C@H](CO)C=C2)C(NC2CC2)=N1
1        Abiraterone  CC(=O)O[C@H]1CC[C@]2(C)C3CC[C@@]4(C)C(CC=C4C4=...
2        Acamprosate                               CC(=O)NCCCS(O)(=O)=O
3           Acarbose  C[C@H]1O[C@H](O[C@@H]2[C@@H](CO)O[C@H](O[C@@H]...
4         Acebutolol        CCCC(=O)NC1=CC(C(C)=O)=C(OCC(O)CNC(C)C)C=C1
...              ...                                                ...
1492    Zolmitriptan         CN(C)CCC1=CNC2=CC=C(C[C@H]3COC(=O)N3)C=C12
1493        Zolpidem    CN(C)C(=O)CC1=C(N=C2C=CC(C)=CN12)C1=CC=C(C)C=C1
1494      Zonisamide                       NS(=O)(=O)CC1=NOC2=CC=CC=C12
1495       Zopiclone  CN1CCN(CC1)C(=O)OC1N(C(=O)C2=NC=CN=C12)C1=NC=C...
1496  Zuclopenthixol  OCCN1CCN(CC\C=C2\C3=CC=CC=C3SC3=C2C=C(Cl)C=C3)CC1

[1497 rows x 2 columns]

In [29]:
df.to_csv("drugs_clear.csv")